:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.card__perspective {
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.card {
  position: relative;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 0;
  border: 1.5px solid transparent;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-property: border, transform;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 193, 254);
  padding: 1rem;
}

@media (hover: hover) {
  .card:hover {
    border: 1.5px solid rgb(10, 87, 164);
  }
  .card:hover.card::before {
    border: 1.5px solid rgb(10, 87, 164);
  }
}
.card[data-state='front'] {
  transform: rotateY(-180deg);
}
/* .card[data-state='vuelta'] {
  transform: rotateY(-360deg);
} */
.card::before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: calc(100% + (1.5px * 2));
  height: calc(100% + (1.5px * 2));
  top: -1.5px;
  left: -1.5px;
  border-radius: inherit;
  background-color: rgb(30, 225, 251);
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__img {
  pointer-events: none;
  display: block;
  max-width: 100%;
}
